In [4]:
#1. Write a Python program to create and display a one-dimensional array-like object 
#containing an array of data using Pandas module.
import pandas as pd
arr=[1,2,3,4,5,6]
pd.Series(arr)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [5]:
#2. Write a Python program to convert a Panda module Series to Python list and it's type.
series=pd.Series([1,2,3,4,5])
print("Series:")
print(series)

print("Series to list")
list_series=series.to_list()
print(list_series)
print(type(list_series))

Series:
0    1
1    2
2    3
3    4
4    5
dtype: int64
Series to list
[1, 2, 3, 4, 5]
<class 'list'>

In [6]:
#3. Write a Python program to add, subtract, multiple and divide two Pandas Series.  
#Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]

s1=pd.Series([2, 4, 6, 8, 10])
s2=pd.Series([1, 3, 5, 7, 9])
print("Add")
print(s1.add(s2))
print("Subtract")
print(s1.sub(s2))
print("Multiply")
print(s1.mul(s2))
print("Divide")
print(s1.div(s2))

Add
0     3
1     7
2    11
3    15
4    19
dtype: int64
Subtract
0    1
1    1
2    1
3    1
4    1
dtype: int64
Multiply
0     2
1    12
2    30
3    56
4    90
dtype: int64
Divide
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

In [7]:
#4. Write a Python program to get the powers of an array values element-wise.  

s1=pd.Series([0,1,2,3,4,5,6])
s2=pd.Series([3,3,3,3,3,3,3])
print("original array")
print(s1.values,s2.values)
res=s1.pow(s2)
print("First array elements raised to powers from second array, element-wise:  ")
print(res.values)

original array
[0 1 2 3 4 5 6] [3 3 3 3 3 3 3]
First array elements raised to powers from second array, element-wise:
[  0   1   8  27  64 125 216]

In [8]:
#5. Write a Python program to create and display a DataFrame from a specified dictionary data which has the index labels.
import numpy as np
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 
                        'Matthew', 'Laura', 'Kevin', 'Jonas'], 
            'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19], 
            'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1], 
            'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']} 

df=pd.DataFrame(exam_data,index=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])
print(df)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [9]:
#6. Write a Python program to display a summary of the basic information about a specified Data Frame and its data. 
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 
'Laura', 'Kevin', 'Jonas'], 
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19], 
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1], 
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']} 

df=pd.DataFrame(exam_data,index=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])
print("---------Summary--------------")
df.info()

---------Summary--------------
<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      10 non-null     object
 1   score     8 non-null      float64
 2   attempts  10 non-null     int64
 3   qualify   10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes

In [10]:
#7. Write a Python program to get the first 3 rows of a given DataFrame.
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 
'Laura', 'Kevin', 'Jonas'], 
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19], 
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1], 
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']} 

df=pd.DataFrame(exam_data,index=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])

print(df.head(3))

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes

In [11]:
#8. Write a Python program to select the 'name' and 'score' columns from the following DataFrame.  
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 
'Laura', 'Kevin', 'Jonas'], 
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19], 
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1], 
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']} 

df=pd.DataFrame(exam_data,index=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])

print(df[["name","score"]])

        name  score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5
d      James    NaN
e      Emily    9.0
f    Michael   20.0
g    Matthew   14.5
h      Laura    NaN
i      Kevin    8.0
j      Jonas   19.0

In [12]:
#9. Write a Python program to select the specified columns and rows from a given data frame.
#Select 'name' and 'score' columns in rows 1, 3, 5, 6 from the following data frame.
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 
'Laura', 'Kevin', 'Jonas'], 
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19], 
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1], 
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']} 

df=pd.DataFrame(exam_data,index=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])

print(df.iloc[[1,3,5,6]][["name","score"]])

      name  score
b     Dima    9.0
d    James    NaN
f  Michael   20.0
g  Matthew   14.5

In [13]:
#10. Write a Python program to select the rows where the number of attempts in the examination is greater than 2. 
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 
'Laura', 'Kevin', 'Jonas'], 
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19], 
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1], 
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']} 

df=pd.DataFrame(exam_data,index=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])

res=df[df["attempts"]>2]
print(res)

      name  score  attempts qualify
b     Dima    9.0         3      no
d    James    NaN         3      no
f  Michael   20.0         3     yes

In [14]:
#11. Write a Python program to count the number of rows and columns of a DataFrame.  Sample data: 
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 
'Laura', 'Kevin', 'Jonas'], 
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19], 
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1], 
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']} 

df=pd.DataFrame(exam_data,index=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])
print(df)
rows,col=df.shape
print("Rows :",rows)
print("Colums",col)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
Rows : 10
Colums 4

In [15]:
#12. Write a Python program to select the rows where the score is missing, i.e. is NaN. 
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 
'Laura', 'Kevin', 'Jonas'], 
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19], 
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1], 
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']} 

df=pd.DataFrame(exam_data,index=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])

print(df[df["score"].isna()])

    name  score  attempts qualify
d  James    NaN         3      no
h  Laura    NaN         1      no

In [16]:
#13. Write a Python program to select the rows where number of attempts in the 
#examination is less than 2 and score greater than 15.

exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 
'Laura', 'Kevin', 'Jonas'], 
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19], 
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1], 
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']} 

df=pd.DataFrame(exam_data,index=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])

print(df[(df["attempts"]<2) & (df["score"]>15)])

    name  score  attempts qualify
j  Jonas   19.0         1     yes

In [19]:
#14. Write a Python program to change the score in row 'd' to 11.5.
df.loc["d","score"]=11.5
print(df)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James   11.5         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [21]:
#15. Write a Python program to calculate the sum of the examination attempts by the students. 
attemts_sum=df["attempts"].sum()
print(attemts_sum)

19

In [27]:
#16. Write a Python program to calculate the mean score for each different student in DataFrame.
mean_score=df.groupby("name")["score"].mean()
print(mean_score)

name
Anastasia    12.5
Dima          9.0
Emily         9.0
James        11.5
Jonas        19.0
Katherine    16.5
Kevin         8.0
Laura         NaN
Matthew      14.5
Michael      20.0
Name: score, dtype: float64

In [36]:
#17. Write a Python program to append a new row 'k' to data frame with given values for 
#each column. Now delete the new row and return the original DataFrame.
df.loc['k']=["Suresh",15.5,1,"yes"]
print(df)
print("-------------------------------")
df=df.drop("k")
print(df)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James   11.5         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
k     Suresh   15.5         1     yes
-------------------------------
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James   11.5         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [44]:
#18. Write a Python program to sort the DataFrame first by 'name' in descending order, 
#then by 'score' in ascending order.
sort_df=df.sort_values(by=["name"],ascending=[False])
sort_df=df.sort_values(by=["score"])
print(sort_df)

        name  score  attempts qualify
i      Kevin    8.0         2      no
e      Emily    9.0         2      no
b       Dima    9.0         3      no
d      James   11.5         3      no
a  Anastasia   12.5         1     yes
g    Matthew   14.5         1     yes
c  Katherine   16.5         2     yes
j      Jonas   19.0         1     yes
f    Michael   20.0         3     yes
h      Laura    NaN         1      no

In [45]:
#19. Write a Python program to replace the 'qualify' column contains the values 'yes' and 'no' with True and False.
df["qualify"]=df["qualify"].replace({'yes':'True','no':'False'})
print(df)

        name  score  attempts qualify
f    Michael   20.0         3    True
g    Matthew   14.5         1    True
h      Laura    NaN         1   False
i      Kevin    8.0         2   False
c  Katherine   16.5         2    True
j      Jonas   19.0         1    True
d      James   11.5         3   False
e      Emily    9.0         2   False
b       Dima    9.0         3   False
a  Anastasia   12.5         1    True

In [46]:
#20. Write a Python program to delete the 'attempts' column from the DataFrame.  
delete_col=df.drop(["attempts"],axis=1)
print(delete_col)

        name  score qualify
f    Michael   20.0    True
g    Matthew   14.5    True
h      Laura    NaN   False
i      Kevin    8.0   False
c  Katherine   16.5    True
j      Jonas   19.0    True
d      James   11.5   False
e      Emily    9.0   False
b       Dima    9.0   False
a  Anastasia   12.5    True

In [48]:
#21. Write a Python program to insert a new column in existing DataFrame.
df["grade"]=['A','B','C','B','C','A','B','B','A','B']
print(df)

        name  score  attempts qualify grade
f    Michael   20.0         3    True     A
g    Matthew   14.5         1    True     B
h      Laura    NaN         1   False     C
i      Kevin    8.0         2   False     B
c  Katherine   16.5         2    True     C
j      Jonas   19.0         1    True     A
d      James   11.5         3   False     B
e      Emily    9.0         2   False     B
b       Dima    9.0         3   False     A
a  Anastasia   12.5         1    True     B

In [56]:
#22. Write a Python program to iterate over rows in a DataFrame.
for index,row in df.iterrows():
    print(f"index:{index},name:{row['name']},score:{row['score']},attemps:{row['attempts']},qualify:{row['qualify']},grade:{row['grade']}")
print("----------------------------------------------------------------------------------")    
for row in df.itertuples():
        print(f"Index:{row.Index},name:{row.name},score:{row.score},attemps:{row.attempts},qualify:{row.qualify},grade:{row.grade}")

index:f,name:Michael,score:20.0,attemps:3,qualify:True,grade:A
index:g,name:Matthew,score:14.5,attemps:1,qualify:True,grade:B
index:h,name:Laura,score:nan,attemps:1,qualify:False,grade:C
index:i,name:Kevin,score:8.0,attemps:2,qualify:False,grade:B
index:c,name:Katherine,score:16.5,attemps:2,qualify:True,grade:C
index:j,name:Jonas,score:19.0,attemps:1,qualify:True,grade:A
index:d,name:James,score:11.5,attemps:3,qualify:False,grade:B
index:e,name:Emily,score:9.0,attemps:2,qualify:False,grade:B
index:b,name:Dima,score:9.0,attemps:3,qualify:False,grade:A
index:a,name:Anastasia,score:12.5,attemps:1,qualify:True,grade:B
----------------------------------------------------------------------------------
Index:f,name:Michael,score:20.0,attemps:3,qualify:True,grade:A
Index:g,name:Matthew,score:14.5,attemps:1,qualify:True,grade:B
Index:h,name:Laura,score:nan,attemps:1,qualify:False,grade:C
Index:i,name:Kevin,score:8.0,attemps:2,qualify:False,grade:B
Index:c,name:Katherine,score:16.5,attemps:2,qualify:True,grade:C
Index:j,name:Jonas,score:19.0,attemps:1,qualify:True,grade:A
Index:d,name:James,score:11.5,attemps:3,qualify:False,grade:B
Index:e,name:Emily,score:9.0,attemps:2,qualify:False,grade:B
Index:b,name:Dima,score:9.0,attemps:3,qualify:False,grade:A
Index:a,name:Anastasia,score:12.5,attemps:1,qualify:True,grade:B

In [59]:
#23. Write a Python program to get list from DataFrame column headers. 

print(df.columns)

Index(['name', 'score', 'attempts', 'qualify', 'grade'], dtype='object')